/* General Styles */

body {
    background-color: #f9f9f9;
    color: #080808;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}



header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

header nav ul li a {
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
}

header nav ul li a:hover {
    background-color: #f39c12;
    border-radius: 5px;
}

/* About Us Section */
.about-us {
    background-color: #fff;
    padding: 40px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.about-us h1,
.about-us h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.about-us p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.about-us ul {
    list-style: none;
    margin-left: 20px;
    margin-bottom: 30px;
}

.about-us ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.about-us ul li strong {
    color: #f39c12;
}



footer p {
    font-size: 1%;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li a {
    color: #fff;
    font-size: 16px;
}

footer ul li a:hover {
    color: #f39c12;
}


